* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Paduak", sans-serif;
  font-weight: 450;
}

nav {
  height: 80px;
  width: 100%;
  background-color: rgba(52, 73, 94, 0.94);
}

label.logo {
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
}

nav ul {
  float: right;
  margin-right: 40px;
}

nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}

nav a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

a.active,
a:hover {
  border: 1px solid white;
  transition: 0.5s;
}

nav #icon {
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.wrapper {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(8, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}
.imagen {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}
.wrappercalc {
  grid-column: 5 / 8;
  grid-row: 1;
  display: grid;
  grid-template-columns: 2;
  padding-right: 1rem;
  margin-bottom: 4rem;
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 0.3rem;
  margin-right: 1rem;
  border-color: rgb(215, 215, 215);
  /* grid-template-rows: repeat(2, minmax(7px, 120px)); */
}
.ware-selection {
  height: min-content;
  /* align-self: flex; */
  margin-left: 30px;
  padding: 1px;
}
.dimensiones {
  grid-column: 1 / 1;
}
.resultados {
  grid-column: 2 / 2;
}
.espacios {
  grid-column: 6 / 8;
  grid-row: 2;
}
.imagen-bottom {
  grid-column: 1 / 8;
  grid-row: 2;
}
.bg-modal {
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: top;
  width: 100%;
  height: 130%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
}
.modal-content {
  display: block;
  width: 40%;
  max-height: 75%;
  height: auto;
  border-radius: 4px;
  padding: 2%;
  position: relative;
}
.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}
.modal-tab-panel {
  /* min-height: 520px; */
  /* let it scroll */
  /* overflow: auto; */
  display: flex;
  flex-flow: nowrap;
  margin-top: 0px;
  gap: 30px;
}
.modal-inputs {
  width: 30%;
  margin-top: 10%;
}
.modal-img {
  width: 50%;
  margin-top: 10%;
}

@media (max-width: 1048px) {
  label.logo {
    font-size: 32px;
    padding-left: 60px;
  }
  nav ul {
    margin-right: 20px;
  }
  nav a {
    font-size: 17px;
  }
  .modal-content {
    display: block;
    width: 60%;
    max-height: 75%;
    height: auto;
    border-radius: 4px;
    padding: 2%;
    position: relative;
  }
}

@media (max-width: 909px) {
  nav #icon {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2f3640;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav a {
    font-size: 20px;
  }
  a.active,
  a:hover {
    border: none;
    color: #3498db;
  }
  nav ul.show {
    left: 0px;
  }
  .wrapper {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .modal-content {
    display: block;
    width: 80%;
    max-height: 70%;
    height: auto;
    border-radius: 4px;
    padding: 2%;
    position: relative;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
div.form {
  grid-column: 1 / 8;
  display: block;
  /* margin-bottom: 4rem; */
  /* border-style: solid;  */
  /* border-radius: 0.5rem;  */
  /* border-width: 0.3rem;  */
  /* border-color: #f5f5f5; */
  margin-left: 35%;
  /* margin-top: 15px; */
  align-items: center;
  align-content: center;
  text-align: center;
}
form.ware-selection {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/* RADIO BUTTON MAGIC STARTS HERE*/
label {
  display: block;
  margin-bottom: 4px;
  position: relative; /* to contain absolute elements */
  /* padding-left: 30px; free space for custom radio button */
  cursor: pointer;
}
/* hide default radio button  */
label input[type="radio"] {
  position: absolute; /* prevent taking any space */
  /* cross-browser hidingg */
  /* opactiy: 0; */
  width: 0;
  height: 0;
}
/* custom radio button */
label span {
  position: absolute;
  /* position to the free space in <label> */
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ddd;
  border-radius: 50%;
  transition: 0.3s background-color; /* slight transition */
}
/* the check icon */
label span:after {
  content: "";
  position: absolute;
  display: none;
  /* middle */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
label:hover span {
  background-color: #ccc;
}

/**** Here's the trick ***/
label input:checked ~ span {
  background-color: #2eaadc;
}
label input:checked ~ span:after {
  display: block;
}



/* 
input[type="checkbox"], input[type="radio"]  {
  display:none;
  } 
  
  label {
    font-family: sans-serif;
    color: salmon;
  }
  label:hover {
    color: grey;
  }

  .check {
    display: inline-block;
    position: relative;
    border: 5px solid #AAAAAA;
    border-radius: 10%;
    height: 2rem;
    width: 2rem;
    top: center;
    left: center;
  }
  .check:select {
    display: inline-block;
    position: relative;
    border: 5px solid salmon;
    border-radius: 10%;
    height: 2rem;
    width: 2rem;
    top: center;
    left: center;
  }
  .check:hover {
    display: inline-block;
    position: relative;
    border: 5px solid salmon;
    border-radius: 10%;
    height: 2rem;
    width: 2rem;
    top: center;
    left: center;
  } */
