@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Open Sans';
}

nav {
  height: 80px;
  width: 100%;
  background-color: rgba(52, 73, 94, 0.94);
}

label.logo {
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
}

nav ul {
  float: right;
  margin-right: 40px;
}

nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}

nav a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

a.active,
a:hover {
  border: 1px solid white;
  transition: 0.5s;
}

nav #icon {
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.wrapper {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(8, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}
.dimensiones {
  grid-column: 4 / 6;
  grid-row: 1;
}
.resultados {
  grid-column: 6 / 8;
  grid-row: 1;
}
.espacios {
  grid-column: 6 / 8;
  grid-row: 2;
}
.imagen {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.imagen-bottom {
  grid-column: 1 / 8;
  grid-row: 2;
}
.bg-modal {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100%;
  height: 130%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
}
.modal-content {
  display: block;
  width: 40%;
  max-height: 75%;
  height: auto;
  border-radius: 4px;
  padding: 2%;
  position: relative;
  /* grid-template-columns: repeat(16, 1fr); */
  /* gap: 2px; */
  /* background-color: white; */
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}
/* .tabsdecarga {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  grid-column: 1/16;
  grid-row: 1;
} */
.modal-tab-panel{
  display: flex;
  flex-flow: nowrap;
  margin-top: 0px;
  gap: 40px;
  /* flex-direction: row; */
  /* grid-template-columns: repeat(8, 1fr); */
  /* grid-auto-rows: minmax(100px, auto); */
  /* grid-auto-rows: min-content; */
}
.modal-inputs {
  width: 30%;
  margin-top: 10%;
  /* grid-column: 4 / 8;
  grid-row: 1; */
}
.modal-img{
  width: 50%;
  margin-top: 10%;
  /* grid-column: 1 / 1;
  grid-row: 1; */
}

@media (max-width: 1048px) {
  label.logo {
    font-size: 32px;
    padding-left: 60px;
  }
  nav ul {
    margin-right: 20px;
  }
  nav a {
    font-size: 17px;
  }
}

@media (max-width: 909px) {
  nav #icon {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2f3640;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav a {
    font-size: 20px;
  }
  a.active,
  a:hover {
    border: none;
    color: #3498db;
  }
  nav ul.show {
    left: 0px;
  }
  .wrapper {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}

/* 
body {
background: #fff url(images/bg.jpg) repeat-x;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 18px;
color: #333333;;
} */



/* 
img { border: none; }
a { color: #26478A; text-decoration: none; }
a:hover { text-decoration: underline; color : #000; }

#wrap {
margin: 0 auto;
width: 800px;
}

#header { 
height: 60px;
background: #26478A url(images/header.jpg) no-repeat;
}
#header h1 {
font-size: 26px;
font-weight: 100;
letter-spacing: -3px;
padding: 12px 0 5px 10px;
}
#header h1 a {
color: #fff;
text-decoration: none;
}
#header h1 a:hover {
color: #eee;
text-decoration: none;
}
#header h2 {
color: #ccc;
font-size: 15px;
font-weight: 100;
padding: 0 0 0 11px;
letter-spacing: -1px;
line-height: 12px;
}

#intro {
background: #fff url(images/intro.jpg) no-repeat;
height: 90px;
padding: 30px;
}

#content {
padding: 10px 20px;
}

.left {
width: 568px;
float: left;
text-align: justify;
}
.left h2 {
color: #FF4800;
font-size: 24px;
letter-spacing: -3px;
font-weight: 100;
padding : 10px 0 15px 0;
}

.right {
width: 150px;
float: right;
padding: 10px;
border-left: 1px solid #bbb;
font-size: 12px;
}
.right ul {
list-style-type: square;
padding: 5px 10px 10px 20px;
}
.right h2 {
height: 30px;
font-size: 15px;
color: #666;
line-height: 30px;
font-weight: 100;
}
.right a { text-decoration: none }

.responsive {
    width: 100%;
    height: auto;
  }

#footer {
border-top: 1px solid #aaa;
text-align: center;
color: #333;
font-size: 11px;
padding: 0 0 10px 0;
margin-top: 20px;
} */
